@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');

:root{
    /*colors*/
  --Red: hsl(0, 100%, 68%);
  --Very-Dark-Blue: hsl(230, 29%, 20%);
  --Dark-Grayish-Blue: hsl(230, 11%, 40%);
  --Grayish-Blue: hsl(231, 7%, 65%);
  --Light-Grayish-Blue: hsl(207, 33%, 95%);
    /*fonts*/
    --Font-size: 18px;
    --Font-family1: 'Barlow', sans-serif;
    --Font-family2: 'Barlow Condensed', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    height: 100vh;
    width: 100vw;
    font-size: var(--Font-size);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
}

.section1{
    grid-row: 2/3;
    grid-column: 1/2;
    padding-left: 24%;
    padding-top: 23%;
    font-family: var(--Font-family2);
}

.logo{
    margin-bottom: 31%;
    grid-row: 1/2;
    grid-column: 1/2;
    padding-left: 25%;
    padding-top: 10%;
}

span{
    letter-spacing: 2px;
    font-weight: 700;
    padding-inline: 10px;
    padding-block: 2px;
    border-radius: 15px;
    background-color: var(--Very-Dark-Blue);
    color: var(--Light-Grayish-Blue);
}

#p{
    word-spacing: 10px;
    letter-spacing: 7px;
    color: var(--Grayish-Blue);
    margin-bottom: 3%;
}

h1{
    font-size: 65px;
    line-height: 70px;
    color: var(--Very-Dark-Blue);
    margin-bottom: 5%;
}

#P{
    color: var(--Dark-Grayish-Blue);
    margin-bottom: 4%;
    font-size: 19px;
    max-width: 300px;
    margin-bottom: 12%;
    font-family: var(--Font-family1);
}

.btn{
    display: grid;
    grid-template-columns: 200px 1fr;
}

button{
    letter-spacing: 1.5px;
    font-size: 17px;
    font-weight: 700;
    font-family: var(--Font-family2);
    padding-block: 13px;
    border-radius: 5px;
    border: 1px ;
    background-color: var(--Red);
    color: var(--Light-Grayish-Blue);
}

button:hover{
    background-color: rgb(253, 135, 135);
}

.btn > p{
    margin-left: 30px;
    margin-top: 10px;
    word-spacing: 1px;
    letter-spacing: 4px;
    color: var(--Grayish-Blue);
}

.section2{
    grid-row: 1/3;
    grid-column: 2/3;
    padding-left: 30px;
    font-family: var(--Font-family2);
    font-weight: 700;
}

.menu,.close{
    display: none;
}

nav{
    border-bottom-left-radius: 80px;
    background-color: var(--Light-Grayish-Blue);
    height: 65%;
    padding-left: 10%;
    padding-top: 5%;
    position: absolute;
    width: 820px;
    position: fixed;
}

nav > img{
  margin-top: 60px;
  margin-left: -150px;
  position: relative;
  margin-top: 110px;
  position: fixed;
}

ul {
    letter-spacing: 1.5px;
    column-count: 6;
    font-size: 16px;
}

li:nth-child(1) , li:nth-child(2) , li:nth-child(3) , li:nth-child(5){
  list-style: none;
  color: var(--Very-Dark-Blue);
}

li:nth-child(5){
    margin-left: -80px;
    color: var(--Grayish-Blue);
}

li:nth-child(4){
    margin-left: 4px;
    color: var(--Grayish-Blue);
}
  
li:hover{
    text-decoration: underline;
}

@media (max-width: 375px){
    body{
        display: grid;
        grid-template-columns: 375px;
        grid-template-rows: 100px 1fr 1fr;
        width: 375px;
       
    }
    .logo{
        grid-row: 1/2;
        grid-column: 1/2;
        padding-left: 10%;
        padding-top: 14%;
    }
    .logo > img{
        width: 25px;
    }
    .section2{
        grid-row: 1/3;
        grid-column: 1/2;
    }
    .section1{
        grid-row: 3/4;
        grid-column: 1/2;
        margin-top: 80%;
        padding-left: 10%;
        font-size: 15px;
    }
    nav{
        height: 440px;
        width: 60% ;
        padding-left: 10%;
        position: absolute;
        position:static;
        z-index: -1;
        margin-left: 40%;
    }       

   ul.active{
        visibility: visible;
    }

    .menu{
        display: block;
        margin-top: -200px;
        width: 30px;
        margin-left: 100px;
        height: 20px;
    }

    .close{
        margin-top: -200px;
        width: 20px;
        margin-left: 100px;
        height: 20px;
    }

    ul{
        gap: 1.6rem;
        position: relative;
        top: 120px;
        margin-left: -160px;
        display: flex;
        flex-direction: column;
        background-color:white;
        width:300px;
        border-radius: 5px;
        padding: 20px 0;
        height: max-content;
        visibility: hidden;
        box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1),
        -5px 0 5px rgba(0, 0, 0, 0.1),
        0 5px 5px rgba(0, 0, 0, 0.1);
 }

    nav > img{
      margin-top: -40px;
      margin-left: -190px;
      position: relative;
      margin-top: 60px;
      position:static;
      width: 500px;
    }

    #p{
        word-spacing: 5px;
        letter-spacing: 5px;
        margin-bottom: 5%;
    }
    
    h1{
        font-size: 40px;
        line-height: 40px;
    }

    button{
        letter-spacing: 1.5px;
        font-size: 14px;
        font-weight: 700;
        padding-block: 11px;
        border-radius: 5px;
        border: 1px ;
        background-color: var(--Red);
        color: var(--Light-Grayish-Blue);
    }
    
    .btn{
        grid-template-columns: 160px 1fr;
    }

    .btn > p{
        margin-left: 30px;
        margin-top: 10px;
        word-spacing: 0.5px;
        letter-spacing: 3px;
        color: var(--Grayish-Blue);
    }

    ul.active{
        visibility: visible;
   }

   li:nth-child(1) , li:nth-child(2) , li:nth-child(3) ,  li:nth-child(5){
    margin-left: 40%;
  }

  li:nth-child(4){
    margin-left: 53%;
  }
}